.intro {
  background: url(/img/main.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Comfortaa", cursive;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.intro-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-card {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffffda;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
  /* font-family: monospace; */
  font-size: 18px;
  width: 300px;
  margin-top: 20px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-title {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
}

.user-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-social-logo {
  width: 50px;
}

.user-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  text-decoration: none;
  color: #000;
}

.user-link:hover {
  color: rgba(67, 136, 185, 1);
}
