body {
  font-family: "Comfortaa", cursive;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}

.header-logo:hover {
  color: rgba(67, 136, 185, 1);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link-item {
  text-decoration: none;
  color: rgba(67, 136, 185, 1);
  margin-left: 20px;
}

.nav-link-item:hover {
  color: #fff;
}

.menu-button {
  display: none;
}

.intro {
  background: url(/img/main.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.intro-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-card {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffffda;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
  /* font-family: monospace; */
  font-size: 18px;
  width: 300px;
  margin-top: 20px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-links {
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
}

.user-links::before {
  content: "";
  height: 2px;
  display: block;
  background-color: rgba(67, 136, 185, 1);
  text-align: center;
  margin-top: 20px;
}

.user-social-logo {
  width: 50px;
}

.user-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  text-decoration: none;
  color: #000;
}

.user-link:hover {
  color: rgba(67, 136, 185, 1);
}

@media (max-width: 500px) {
  .menu-button {
    display: block;
    position: absolute;
    right: 35px;
    top: 40px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  .menu-button::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-top: -7px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.5s;
  }
  .menu-button::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-top: 7px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.5s;
  }
  .menu-button.active {
    height: 0;
  }
  .menu-button.active::before {
    transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-button.active::after {
    transform: rotate(-45deg);
    margin-top: 0;
  }

  .nav {
    display: none;
    position: absolute;
    right: 0;
    top: 15px;
    background-color: #8888884d;
    width: 250px;
    /* padding-bottom: 30px; */
    z-index: 1;
  }
  .nav.active {
    display: flex;
    padding: 10px;
  }

  .nav-list {
    display: inline-block;
    padding-right: 100px;
  }

  .nav-link {
    margin: 10px 0 10px 0;
  }
}
